.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #eeeed2;
}

.navBar {
  flex: 0.2;
  display: flex;
  flex-direction: row;
  background-color: #b0dda5;
}

.header {
  flex: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  flex: 0.25;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentStyle {
  flex: 0.8;
  display: flex;
  flex-direction: row;
  background-color: #eeeed2;
}

.listStyle {
  flex: 0.5;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.cardStyle {
  flex: 0.8;
}

.innerCard {
  background-color: #efefef;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 3vh;
  padding-bottom: 2vh;
}

.listDetailStyle {
  flex: 0.5;
  display: flex;
  justify-content: center;
}

.commentCardContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  background-color: #fff;
  border-radius: 15px;
}

.authContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authStyle {
  display: flex;
  flex: 0.25;
  flex-direction: column;
}

.buttonStyle {
  height: 6vh;
  width: 10vw;
  border-radius: 15px;
  align-self: center;
  border: none;
  background-color: #b0dda5;
}

.addDiscussionStyle {
  display: flex;
  flex: 0.5;
  flex-direction: column;
}

.addDiscussionButton {
  height: 6vh;
  width: 15vw;
  align-self: center;
  border-radius: 15px;
  border: none;
  background-color: #b0dda5;
}

.homePageDiscussionButton {
  height: 6vh;
  width: 15vw;
  align-self: center;
  border-radius: 15px;
  border: none;
}

.homePageAuthButton {
  height: 6vh;
  width: 10vw;
  align-self: center;
  border-radius: 15px;
  border: none;
}

.textAreaStyle {
  width: 30vw;
}

.commentButtonStyle {
  height: 6vh;
  width: 15vw;
  border-radius: 15px;
  border: none;
  background-color: #b0dda5;
}

.commentTitle {
  margin-left: 3vw;
}

.errorText {
  color: red;
}
